.timeText {
  color: white;
  font-size: 1.1rem;
  width: 8%;
}

.Time {
  display: flex;
  justify-content: space-around;
  background: rgba(126, 218, 248, 0.3);
  border-radius: 10px;
  padding: 0.3rem;
  margin: 0.5rem 0;
}
